<?xml version="1.0" encoding="utf-8"?>
<!-- 
This web.config file is a 'special' one, because it is built to make a self-hosting 
demo web site working. A self-hosting web site plays both the source and the dashboard roles, 
therefore its configuration is a mix of them. Normally you would find elmah sections
in a source site, and elmahr sections in a dashboard, but it's also true that a dashboard
itself can have elmah pieces to have its own unhandles exceptions managed. Please follow
the docs to have a better idea about this (https://bitbucket.org/wasp/elmahr/wiki/Setup)
-->
<configuration>
  <configSections>
    <!-- elmahr section declaration -->
    <section name="elmahr" type="ElmahR.Core.Config.SectionHandler, ElmahR.Core" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <elmahr>
    <!--
    This section lists a few 'fake' applications in order to have
    the demo web site working. In a 'real world' scenario here
    you would list the real monitored applications, and the 'sourceId'
    attributes should have to match the corresponding 'infoUrl' attributes
    from the source apps, like this:
    
    <application name="ElmahR sample erratic application"   sourceId="http://localhost:37346/elmah.axd"/>
    
    -->
    <application name="Sample application"          sourceId="Lucy in the Sky with Diamonds"  testExceptionUrl="http://localhost:37346/elmah.axd/test"  appharborId="foo" />
    <application name="Another sample application"  sourceId="Strawberry Fields Forever" />
    <application name="One more sample application" sourceId="The Fool on the Hill"           testExceptionUrl="http://localhost:37346/elmah.axd/test" />
  </elmahr>
  <appSettings>
  </appSettings>
  
  <connectionStrings>
    <add name="ErrorLogContext" connectionString="Data Source=|DataDirectory|ElmahR.sdf" providerName="System.Data.SqlServerCE.4.0" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorTrap" type="ElmahR.Core.ErrorTrapModule, ElmahR.Core" />
    </modules>
    <handlers>
      <add name="BuildInfo" verb="POST"     path="buildInfo.axd"           type="ElmahR.Appharbor.Endpoint, ElmahR.Appharbor" />
      <add name="PostError" verb="POST"     path="PostError.axd"           type="ElmahR.Core.PostError, ElmahR.Core" />
      <add name="YSOD"      verb="GET,HEAD" path="YellowScreenOfDeath.axd" type="ElmahR.Core.YellowScreenOfDeath, ElmahR.Core" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="ElmahR/dashboard" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>