<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <sectionGroup xdt:Transform="Remove" name="elmah">
    </sectionGroup>
  </configSections>
  
  <elmah xdt:Transform="Remove">
  </elmah>
  
  <elmahr xdt:Transform="Replace">
    <application name="ElmahR sample erratic application"   sourceId="http://localhost:37345/elmah.axd"/>
  </elmahr>

  <system.webServer xdt:Transform="Replace">
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
  
</configuration>