<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <!--
      Here below you can add the errorPost section declaration in a self-hosting environment
      like the demo website at http://elmahr.apphb.com. If you are configuring  a 
      'real world' MONITORED application, you would add the same line to its web.config
      -->
      <section name="errorPost" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah"/>
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32"/>
      </test>
    </errorFilter>
    <!--
    Here below you can see the errorPost section implementation. If you are configuring  a 'real world'
    MONITORED application, you would change the targetUrl to point it to the dashboard endpoint,
    the sourceId to match to the one defined in the dashboard for the corresponding entry,
    and the infoUrl to whatever resource of the source app you want to be used in the dashboard
    as a reference to this source (normaly elmah.axd, if enabled, is a good choice).
      -->
    <errorPost targetUrl="http://localhost:37345/posterror.axd" sourceId="SomeCode" infoUrl="http://localhost:37347/elmah.axd"/>
  </elmah>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
      <add name="ErrorPost" type="ElmahR.Elmah.ErrorPostModule, ElmahR.Elmah"/>
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="ErrorSource.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>